# Legacy files
legacy/

# Build and distribution artifacts
bin/
build/
dist/
cache/

# Dependency cache
lib/ivy/

# OS specific files
.DS_Store
Thumbs.db

# Ant autocompletion cache
.ant-targets*



# Icon generator download cache
tools/icons/.cache/
